body.user-summary-page {
  .user-main {
    border-radius: $radius;
    position: relative;

    .about {
      &.has-background {
        .user-profile-image {
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
          position: relative;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            content: " ";
            background: linear-gradient(
              90deg,
              rgba($darkblue, 0.9) 20%,
              rgba($darkblue, 0.5) 60%,
              rgba($darkblue, 0.7) 100%
            );
            z-index: 1;
          }
        }
        .details {
          padding: $padding;
        }
        .staff-counters {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
        }

        .details {
          .primary {
            box-sizing: border-box;
            position: absolute;
            top: $padding;
            right: 0;
            left: 0;
            padding: $padding;
            z-index: 2;

            .primary-textual {
              color: var(--secondary);
              .username {
                color: var(--secondary);
              }
              .full-name {
                color: var(--secondary);
              }
            }
          }
          .secondary {
            border-top: 0;
            margin-top: 0;
          }
        }
      }
      &.no-background {
        .details {
          padding: $padding;
          border-radius: $radius;
        }
      }
      .details {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        @include box-shadow;
      }
    }

    .user-content-wrapper {
      background-color: var(--secondary);
      border-radius: $radius;
      box-sizing: border-box;
      @include box-shadow;
      padding: $padding;
    }
  }
}
