body {
  padding: 1rem;
}

html.sbox {
  background-color: rgba(37,46,63,.4);
  color: #fff;
  font-size: 13px;

  --tertiary: #2b628c;
  --primary-medium: #ADB3CB;
  --primary-low: rgba(37,46,63,.8);
  --primary-low-mid: #7cc4ff;

  a {
    color: var(--primary-low-mid);
  }

  .button {
    color: #fff;
    background-color: #3273EB;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .post-replies {
    font-size: 10px;
    padding: 2px 8px;
    background-color: var(--tertiary);
    color: var(--primary-low-mid);
  }

  .username a {
    color: #fff;

    &.staff {
      background-color: transparent;
    }
  }
}
