$darkblue: #171928;
$lightblue: #888cb1;
$brightblue: #03a9f4;
$fpred: #ec1c24;
$offwhite: #f7f7ff;

//
// Disable horrible highlight fade out
//
.highlighted
{
    animation: background-fade-highlight 0s !important;
}

//
// Don't show the "this is their first post" thing
//
.post-notice.new-user
{
    display: none;
}

nav.post-controls
{
    font-size: 12px;
}


.category-list
{
    thead
    {
        background-color: var( --header_background );
        
        tr
        {
            border: none !important;
        }
        
        th
        {
            color: var( --tertiary-low );
            padding: 1rem 2rem;
        }
    }
    
    tbody
    {
        border: none !important;
        
        tr
        {
            border-bottom: none !important;
            
            td
            {
                &.latest
                {
                    padding: 1rem;
                    padding-left: 2rem;
                }
                
                &.topics
                {
                    padding-top: 2rem;
                }
                
                &.category  
                {
                    border: 0 !important;
                    width: 100%;
                    
                    .category-card
                    {
                        display: flex;  
                        width: 100%;
                        
                        .subcategories
                        {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                        }
                        
                       .subcategory
                        {
                            position: relative;
                            margin-right: 0.3em;
                            margin-bottom: 0.3rem;
                            
                            .badge-category
                            {
                                padding: 2px 3px;
                            }
                            
                           .badge-notification
                            {
                                padding: 4px 5px;
                                background-color: var(--highlight);
                                color: var(--secondary);
                                font-size: 10px;
                                z-index: 100;
                                display: inline-block;
                                border-radius: 4px;
                                margin: 0;
                            }
                        }

                        >.category-icon
                        {
                            padding: 1rem;
                            
                            img
                            {
                                width: 50px;
                                height: 50px;
                                transform: rotate(-4deg);
                                border-radius: 5px;
                                box-shadow: 4px 4px 10px rgba( 0, 0, 0, 0.1);
                            }
                        }
                        
                        >.category-detail
                        {
                            padding: 1rem;
                            padding-left: 0;
                            
                            .category-text-title
                            {
                                font-family: var( --heading-font-family );
                                font-weight: bold;
                                font-size: 2rem;
                                color: var( --primary );
                                margin-bottom: 0rem;
                            }
                            
                            .category-description
                            {
                                color: var( --header_primary-medium );
                                font-size: 0.9rem;
                                margin: 0;
                                margin-bottom: 1rem;
                            }
                        }
                        
                    }
                    
                }
            }
        }
    }
}

.category-list .topics
{
    width: 25px;
}

.list-controls
{
    font-size: 0.8rem;
}

.nav-pills>li a,
.list-controls .combo-box .combo-box-header, 
.list-controls button.btn, 
.list-controls button.btn:hover
{
    border: none;
    background-color: transparent;
    color: var( --header_primary-low-mid );
}

.nav-pills>li a.active, .nav-pills>li a:hover
{
    background-color: transparent;
    color: var( --highlight );
}

.categories-list .list-controls .category-drop,
.categories-list .list-controls .tag-drop
{
    display: none;
}

.category-list.with-topics
{
    margin-left: 0;
}

body
{
    background: url(https://files.facepunch.com/garry/ef5a054d-5a50-4dc3-8de3-61c34835c6a0.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    #main-outlet
    {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 925px)
{
    .wrap, body #main-outlet
    {
        max-width: 900px;
    }
}


a
{
    color: var( --success );
}

a:visited
{
    color: var( --success-hover );
}

a:hover
{
    color: var( --success );
}




.ffcategory-list tr[data-category-id="9"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/31ab86da-9181-4967-8167-265ced5522e2.jpg);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

.ffcategory-list tr[data-category-id="10"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/f9b16450-89e1-4985-8e44-847434d8a18e.png);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

.ffcategory-list tr[data-category-id="5"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/22d5a92f-6a7a-4e11-b392-ecf784b617f4.png);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus 
{
    border-color: var(--tertiary);
    box-shadow: none;
    outline: 0;
}

@media screen and (min-width: 925px)
{
    .archetype-regular
    {
        #topic-footer-buttons
        {
            #topic-footer-button-share-and-invite,
            .topic-notifications-button
            {
                display: none;
            }
            
            .topic-footer-main-buttons
            {
                justify-content: center;
            }
        }
        
        .title-voting
        {
            float: right;
        }
        
        .topic-avatar, .topic-body
        {
            border-top: 0;
            padding-top: 2rem;
        }
        
        #topic-title
        {
            margin-bottom: 2rem;
        }
        
        .container.posts
        {
            position: relative;
            display: block;
        }
        
        .container.posts .topic-navigation
        {
            >div
            {
                position: absolute;
                right: -135px;
            }
        }
        
        .topic-post
        {
            border-left: 0;
            
            .row
            {
                display: flex;
                
                .topic-avatar, .topic-body
                {
                    float: none;
                 //   width: auto;
                }
                
                .topic-body
                {
                    flex-grow: 1;
                }
            }
            
            .actions
            {
                opacity: 0.5;
            }
            
            &:hover
            {
                .actions
                {
                    opacity: 1;
                }
            }
        }
        
        #main-outlet
        {
            max-width: 760px;
            position: relative;
            left: -45px;
        }
    }
    
    .topic-navigation
    {
        color: #fff;
        --primary-med-or-secondary-med: #fff;
        --tertiary-low-or-tertiary-high: #fff;
        text-shadow: 0px 0px 20px black;
    }
}


.categories-and-latest
{
    .category-heading
    {
        display: none;
    }

    
    .latest-topic-list
    {
        .title
        {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 !important;
            display: inline-block !important;
            max-width: 100%;
        }
    }
}

//
// HEADER
//
.d-header-wrap
{
    li.active
    {
        a.btn-flat, a.icon
        {
            background-color: var( --header_primary );
            
            .d-icon
            {
                color: var( --header_background ) !important;
            }
        }
    }
}

.d-header-wrap header
{
    margin-top: 2rem;
    background: transparent;
    box-shadow: none;
    transition: all 0.1s ease-in-out, background 10s ease-in-out;

    > div.wrap
    {
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    a.btn-flat, a.icon
    {
        transition: none;
        background-color: #171727;
        border-radius: 100px;
        margin-left: 20px;
        
        .d-icon
        {
            color: #6e6e98;
            width: 13px;
        }
        
        &:hover
        {
            background-color: #6e6e98;
            
            .d-icon
            {
                color: #171727;
            }
        }
    }
    
    .d-header-icons .badge-notification
    {
        top: -8px;
        padding: 3px 6px;
        padding-top: 5px;
    }
    
    &:before
    {
        opacity: 0;
        background: linear-gradient(90deg, #171727ee 30%, #404b65de 60%);
        position: absolute;
        left: 0;
        width: 100%;
        height: 0px;
        top: 0;
        content: ' ';
        transition: all 0.1s ease-in;
    }
    
    .extra-info-wrapper
    {
        .topic-link
        {
            color: white;
        }
    }
}

//
// When docked, draw the background, lift up
//
body .d-header-wrap.fixed header
{
    margin-top: 0rem;
    margin-bottom: 2rem;

    &:before
    {
        height: 55px;
        opacity: 1;
        transition: all 0.1s 0.1s ease-in;
        backdrop-filter: blur( 5px );
    }
}

//
// Colour overlay the background so shit pops
//
body:before
{
    content: ' ';
    background-color: #90afff47;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body.categories-list,
body.navigation-topics
{
    #main-outlet
    {
        
    }
    
    #main-outlet > .list-controls
    {
        background-color: $darkblue;
        margin-bottom: 1rem;
        border-radius: 8px;
        
        .navigation-container .category-breadcrumb
        {
            display: none;
        }
        
        button
        {
            padding: 1.2rem;
            font-size: 0.9rem;
            color: $lightblue;
            font-family: var(--heading-font-family);
            margin: 0;
            transition: none;
            
            .svg-icon
            {
                transition: none;
                width: 0.8rem;
                height: 0.8rem;
                color: $lightblue;
            }
            
            &:hover
            {
                color: white;
                
                .svg-icon
                {
                    color: white;
                }
            }
        }
        
        ul.nav
        {
            margin: 0;
            height: 100%;

            li a
            {
                padding: 1.2rem;
                font-size: 0.9rem;
                color: $lightblue;
                font-family: var(--heading-font-family);
                
                &:hover
                {
                    color: white;
                }
                
                &.active
                {
                    background-color: white;
                    color: $darkblue;
                    font-weight: bold;
                }
            }
            
            li:first-of-type a
            {
                border-radius: 7px 0 0 7px;
            }
        }
    }
}

div.category-list,
div.category-list.with-topics

{
    > .category
    {
        border-radius: 8px;
        width: 100%;
        margin-top: 1rem;
        overflow: hidden;
        position: relative;
    }
    
    > .category > .category-head
    {
        overflow: hidden;
        height: 150px;
        background-color: $darkblue;
        margin: 0;
        position: relative;
        
        > .category-logo
        {
            display: block;
            position: absolute;
            left: 30px;
            top: 40px;
 
            img
            {
                border-radius: 8px;
                box-shadow: 2px 2px 18px rgba( 0, 0, 0, 0.3 );
                width: 60px;
                height: 60px;
            }
        }
        
        > .category-title-link
        {
            display: block;
            margin-left: 110px;
            margin-top: 40px;
            margin-right: 200px;
            display: flex;
            flex-direction: column;
            z-index: 1;
            position: relative;
            
            .category-name
            {
                color: white;
                font-size: 2rem;
                font-weight: bold;
                font-family: var( --heading-font-family );
                margin: 0;
                padding: 0;
            }
            
            .category-description
            {
                color: $lightblue;
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }
        }
        
        > .stats
        {
            position: absolute;
            right: 1rem;
            top: 1rem;
            bottom: 1rem;
            width: 80px;
            overflow: hidden;
            text-align: center;
            padding: 1rem;
            font-size: 0.8rem;
           // background-color: rgba( $darkblue, 0.8 );
            color: $lightblue;
          //  backdrop-filter: blur( 20px );
         //   border-radius: 8px;
        }
    }
    
    > .category > .topics
    {
        position: absolute;
        right: 1rem;
        top: 163px;
        bottom: 1rem;
        width: 50%;
        overflow: hidden;
        
        > .featured-topic
        {
            margin: 0;
            border-bottom: 10px solid;
            border-image-slice: 1;
            border-width: 1px;
            font-size: 14px;
  
            border-image-source: linear-gradient( to left, #ccc, rgba(0, 0, 0, 0) );
            display: flex;
            
            a.title
            {
                padding: 2px 8px;
                flex-grow: 1;
                color: var( --primary );
                
                &:hover
                {
                    color: $brightblue;
                }
            }
            
            &:last-of-type
            {
                border-bottom: none;
            }
            
            .badge-notification.new-topic::before
            {
                display: none;
            }
            
            .badge-notification.new-topic,
            .badge-notification.new-posts
            {
                padding: 3px 4px;
                background-color: $fpred;
                color: white;
                border-radius: 5px;
                margin: 0;
                margin-right: 10px;
                margin-left: -10px;
                line-height: 1;
            }
        }
    }

    > .category > .subcategories
    {
        background-color: var( --secondary );
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        min-height: 180px;
        
        .subcategory
        {
            margin-bottom: 0.5rem;
            
            .category-name
            {
                min-width: 200px;
                font-size: 1rem;
                margin: 0;
                padding: 0.2rem;
            }
            
            .badge-notification.new-posts
            {
                padding: 5px 7px;
                background-color: $fpred;
                color: white;
                border-radius: 5px;
                margin: 0;
                margin-right: 10px;
            }
            
        }
    }
}

.category .category-head
{
    background-size: cover;
    background-position: center;
    background-image: url( https://files.facepunch.com/garry/d250f3d2-b679-4b04-ae66-59aa77f6e8eb.png );
    
    &:before
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        background: linear-gradient(90deg, rgba( $darkblue, 0.9 ) 20%, rgba( $darkblue, 0.5 ) 60%, rgba( $darkblue, 0.7 ) 100%);
    }
}

//
// RUST
//
.category[data-category-id="10"] .category-head
{
    background-image: url( https://files.facepunch.com/garry/a4855dbf-5c09-47bd-b950-74a0132e2a9d.png );
}

//
// GMOD
//
.category[data-category-id="9"] .category-head
{
    background-image: url( https://files.facepunch.com/garry/9bb26b95-3771-481d-8e2d-1564373de900.png );
    
    .category-description
    {
        color: #c0e5ff !important;
    }
    
    &:before
    {
        background: linear-gradient(90deg, rgba( #1194f0, 0.7 ) 20%, rgba( #1194f0, 0.3 ) 60%, rgba( #1194f0, 0.4 ) 100%);
    }

}

//
// SANDBOX
//
.category[data-category-id="5"] .category-head
{
    background-image: url( https://files.facepunch.com/garry/f14fdb16-aa6c-491c-aaaa-f20a6c19ccf8.png );
    
    .category-description
    {
      //  color: #c0e5ff !important;
    }
    
    &:before
    {
      //  background: linear-gradient(90deg, rgba( #1194f0, 0.7 ) 20%, rgba( #1194f0, 0.3 ) 60%, rgba( #1194f0, 0.4 ) 100%);
    }

}


table.topic-list
{
    > thead tr, > tbody
    {
        border: none;
    }
    
    .topic-list-item-separator
    {
        height: 7px;
    }
    
    .posters
    {
        width: 107px;
    }
    
    > thead tr th
    {
        background-color: var( --primary-very-low );
        font-weight: bolder;
        padding: 1.5rem 0rem !important;
        
        &:first-of-type
        {
            border-radius: 8px 0 0 0;
            padding-left: 2rem !important;
        }
        
        &:last-of-type
        {
            border-radius: 0 8px 0 0;
            padding-right: 2rem !important;
        }
    }
    
    > tbody tr
    {
        border-bottom: none;
    }
    
    > tbody tr td
    {
        background-color: var( --secondary );
        border-left: none !important;
        border-bottom: 1px solid var( --primary-low );
        
        &:first-of-type
        {
            padding-left: 2rem;
            position: relative;
        }
        
        &:last-of-type
        {
            padding-right: 2rem;
        }
        
        &.main-link
        {
            span.link-top-line
            {
                position: absolute;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                max-width: 90%;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 1rem;
                top: 1.1rem;
                
                a:hover
                {
                    color: $brightblue;
                }
            }
            
            div.link-bottom-line
            {
                margin-top: 2rem;
                opacity: 0.4;
            }
        }
        
        &.posters
        {
            a
            {
                margin-right: 2px;
            }
            
            img
            {
                width: 16px;
                height: 16px;
            }
            
            a:first-of-type,
            a.latest
            {
                img
                {
                    width: 24px;
                    height: 24px;
                }
            }
            
            img:hover
            {

            }
        }
    }
    
    > tbody tr.unseen-topic
    {
        td.main-link div.link-bottom-line
        {
            opacity: 0.8;
        }
    }
    
    > tbody tr.new-posts
    {
        td.main-link div.link-bottom-line
        {
            opacity: 0.8;
        }
    }
    
    > tbody tr.unseen-topic
    {
      //  border-left: 5px solid yellow;
    }
    
    > tbody tr:last-of-type td
    {
         &:first-of-type
        {
            border-radius: 0 0 0 8px;
        }
        
        &:last-of-type
        {
            border-radius: 0 0 8px 0;
        }
    }
}

#topic-title h1 a
{
    color: var( --secondary );
}

.container.posts
{
    .topic-status-info
    {
        border: none;
    }
    
    article.onscreen-post
    {
        background-color: var( --secondary );
        border-radius: 8px;
        margin-bottom: 1rem;
        
        div.row
        {
            position: relative;
            display: block;
            padding: 0rem 2rem;
            
            .topic-avatar
            {
                position: absolute;
            }
                    
            .topic-body
            {
                width: auto;
                width: -webkit-fill-available;
                padding-left: 4rem;
                
                .topic-meta-data
                {
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                    
                    .full-name
                    {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    
                    .username
                    {
                        opacity: 0.5;
                        background-color: #888cb1;
                        padding: 3px;
                        border-radius: 4px;
                        font-size: 0.8rem;
                        
                        a
                        {
                            color: $offwhite;
                        }
                    }
                }
            }
            
            .topic-map
            {
                margin: 0;
                height: 0px;
                opacity: 0;
                overflow: hidden;
                transition: all 0.4s ease;
            }
        }
        
        &:hover
        {
            div.row .topic-map
            {
                margin: 2rem 0;
                height: auto;
                opacity: 1;
            }
        }

    }
}


.reviewable,
body.admin-interface #main-outlet,
body.badges-page #main-outlet,
body.users-page #main-outlet,
body.user-activity-page #main-outlet,
body.user-summary-page #main-outlet,
body.user-invites-page #main-outlet,
body.user-preferences-page #main-outlet,
body.static-faq #main-outlet,
body.about-page #main-outlet,
body.static-tos #main-outlet,
body.static-privacy #main-outlet,
body.tags-page #main-outlet,
body.groups-page #main-outlet
{
    background-color: var( --secondary );
    padding: 2rem 2rem;
    border-radius: 9px;
}