//
// Disable horrible highlight fade out
//
.highlighted
{
    animation: background-fade-highlight 0s !important;
}

//
// Don't show the "this is their first post" thing
//
.post-notice.new-user
{
    display: none;
}

nav.post-controls
{
    font-size: 12px;
}


.category-list
{
    thead
    {
        background-color: var( --header_background );
        
        tr
        {
            border: none !important;
        }
        
        th
        {
            color: var( --tertiary-low );
            padding: 1rem 2rem;
        }
    }
    
    tbody
    {
        border: none !important;
        
        tr
        {
            border-bottom: none !important;
            
            td
            {
                &.latest
                {
                    padding: 1rem;
                    padding-left: 2rem;
                }
                
                &.topics
                {
                    padding-top: 2rem;
                }
                
                &.category  
                {
                    border: 0 !important;
                    width: 100%;
                    
                    .category-card
                    {
                        display: flex;  
                        width: 100%;
                        
                        .subcategories
                        {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                        }
                        
                       .subcategory
                        {
                            position: relative;
                            margin-right: 0.3em;
                            margin-bottom: 0.3rem;
                            
                            .badge-category
                            {
                                padding: 2px 3px;
                            }
                            
                           .badge-notification
                            {
                                padding: 4px 5px;
                                background-color: var(--highlight);
                                color: var(--secondary);
                                font-size: 10px;
                                z-index: 100;
                                display: inline-block;
                                border-radius: 4px;
                                margin: 0;
                            }
                        }

                        >.category-icon
                        {
                            padding: 1rem;
                            
                            img
                            {
                                width: 50px;
                                height: 50px;
                                transform: rotate(-4deg);
                                border-radius: 5px;
                                box-shadow: 4px 4px 10px rgba( 0, 0, 0, 0.1);
                            }
                        }
                        
                        >.category-detail
                        {
                            padding: 1rem;
                            padding-left: 0;
                            
                            .category-text-title
                            {
                                font-family: var( --heading-font-family );
                                font-weight: bold;
                                font-size: 2rem;
                                color: var( --primary );
                                margin-bottom: 0rem;
                            }
                            
                            .category-description
                            {
                                color: var( --header_primary-medium );
                                font-size: 0.9rem;
                                margin: 0;
                                margin-bottom: 1rem;
                            }
                        }
                        
                    }
                    
                }
            }
        }
    }
}

.category-list .topics
{
    width: 25px;
}

.list-controls
{
    font-size: 0.8rem;
}

.nav-pills>li a,
.list-controls .combo-box .combo-box-header, 
.list-controls button.btn, 
.list-controls button.btn:hover
{
    border: none;
    background-color: transparent;
    color: var( --header_primary-low-mid );
}

.nav-pills>li a.active, .nav-pills>li a:hover
{
    background-color: transparent;
    color: var( --highlight );
}

.categories-list .list-controls .category-drop,
.categories-list .list-controls .tag-drop
{
    display: none;
}

.category-list.with-topics
{
    margin-left: 0;
}

body
{
    background: url(https://files.facepunch.com/garry/ef5a054d-5a50-4dc3-8de3-61c34835c6a0.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    #main-outlet
    {
        margin-top: 3rem;
        background-color: var( --secondary );
        padding: 2rem 2rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 925px)
{
    .wrap, body #main-outlet
    {
        max-width: 900px;
    }
}


a
{
    color: var( --success );
}

a:visited
{
    color: var( --success-hover );
}

a:hover
{
    color: var( --success );
}




.ffcategory-list tr[data-category-id="9"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/31ab86da-9181-4967-8167-265ced5522e2.jpg);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

.ffcategory-list tr[data-category-id="10"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/f9b16450-89e1-4985-8e44-847434d8a18e.png);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

.ffcategory-list tr[data-category-id="5"]
{
    background: 
    linear-gradient(90deg, transparent -100%, var( --secondary ) 80% ), 
    url(https://files.facepunch.com/garry/22d5a92f-6a7a-4e11-b392-ecf784b617f4.png);
    background-position: center center;
    background-size: cover;
    
    .category-description
    {
        color: var(--primary) !important;
        opacity: 0.9 !important;
    }
    
    .category-icon
    {
       // display: none;
    }
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus 
{
    border-color: var(--tertiary);
    box-shadow: none;
    outline: 0;
}

@media screen and (min-width: 925px)
{
    .archetype-regular
    {
        #topic-footer-buttons
        {
            #topic-footer-button-share-and-invite,
            .topic-notifications-button
            {
                display: none;
            }
            
            .topic-footer-main-buttons
            {
                justify-content: center;
            }
        }
        
        .title-voting
        {
            float: right;
        }
        
        .topic-avatar, .topic-body
        {
            border-top: 0;
            padding-top: 2rem;
        }
        
        #topic-title
        {
            margin-bottom: 2rem;
        }
        
        .container.posts
        {
            position: relative;
            display: block;
        }
        
        .container.posts .topic-navigation
        {
            >div
            {
                position: absolute;
                right: -135px;
            }
        }
        
        .topic-post
        {
            border-left: 0;
            
            .row
            {
                display: flex;
                
                .topic-avatar, .topic-body
                {
                    float: none;
                 //   width: auto;
                }
                
                .topic-body
                {
                    flex-grow: 1;
                }
            }
            
            .actions
            {
                opacity: 0.5;
            }
            
            &:hover
            {
                .actions
                {
                    opacity: 1;
                }
            }
        }
        
        #main-outlet
        {
            max-width: 760px;
            position: relative;
            left: -45px;
        }
    }
    
    .topic-navigation
    {
        color: #fff;
        --primary-med-or-secondary-med: #fff;
        --tertiary-low-or-tertiary-high: #fff;
        text-shadow: 0px 0px 20px black;
    }
}


.categories-and-latest
{
    .category-heading
    {
        display: none;
    }

    
    .latest-topic-list
    {
        .title
        {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 !important;
            display: inline-block !important;
            max-width: 100%;
        }
    }
}

//
// HEADER
//
.d-header-wrap
{
    li.active
    {
        a.btn-flat, a.icon
        {
            background-color: var( --header_primary );
            
            .d-icon
            {
                color: var( --header_background ) !important;
            }
        }
    }
}

.d-header-wrap header
{
    margin-top: 2rem;
    background: transparent;
    box-shadow: none;
    transition: all 0.1s ease-in-out, background 10s ease-in-out;

    > div.wrap
    {
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    a.btn-flat, a.icon
    {
        transition: none;
        background-color: #171727;
        border-radius: 100px;
        margin-left: 20px;
        
        .d-icon
        {
            color: #6e6e98;
            width: 13px;
        }
        
        &:hover
        {
            background-color: #6e6e98;
            
            .d-icon
            {
                color: #171727;
            }
        }
    }
    
    .d-header-icons .badge-notification
    {
        top: -8px;
        padding: 3px 6px;
        padding-top: 5px;
    }
    
    &:before
    {
        opacity: 0;
        background: linear-gradient(90deg, #171727ee 30%, #404b65de 60%);
        position: absolute;
        left: 0;
        width: 100%;
        height: 0px;
        top: 0;
        content: ' ';
        transition: all 0.1s ease-in;
    }
    
    .extra-info-wrapper
    {
        .topic-link
        {
            color: white;
        }
    }
}

//
// When docked, draw the background, lift up
//
body .d-header-wrap.fixed header
{
    margin-top: 0rem;
    margin-bottom: 2rem;

    &:before
    {
        height: 55px;
        opacity: 1;
        transition: all 0.1s 0.1s ease-in;
        backdrop-filter: blur( 5px );
    }
}

//
// Colour overlay the background so shit pops
//
body:before
{
    content: ' ';
    background-color: #90afff47;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}